<article class="podcast">
	<figure class="podcast__image"></figure>
	<section class="podcast__content">
		<h1 class="podcast__name">
			<a href="{{source}}">{{name}}</a>
		</h1>
		<p class="podcast__desc">
			{{description}}
		</p>
		<ul class="podcast__link">
			{{#if itunes}}
				<li><a href="{{itunes}}">iTunes</a></li>
			{{/if}}
			{{#if rss}}
				<li><a href="{{rss}}">RSS</a></li>
			{{/if}}
			{{#if android}}
				<li><a href="{{android}}">Android</a></li>
			{{/if}}
			{{#if soundcloud}}
				<li><a href="{{soundcloud}}">Soundcloud</a></li>
			{{/if}}
		</ul>
	</section>
</article>